<%- include('partials/header') %>

  <div class="jumbotron centered">
    <div class="container">
      <h1>hello</h1>
  

        <form action="/student/addstudent" method="POST">
          <div class="form-group">
            <label for="StudentName">Enter Student Name</label>
            <input type="text" class="form-control" name="StudentName">
          </div>
          <div class="form-group">
            <label for="StudentMobileNo">Enter Student Mobile Number</label>
            <input type="number" class="form-control" name="StudentMobileNo">
          </div>
          <div class="form-group">
            <label for="StudentEmailId">Enter Student Email Id</label>
            <input type="text" class="form-control" name="StudentEmailId">
          </div>

          <button type="submit" class="btn btn-dark">Add Student</button>
        </form>
    </div>
    <div class="container-fluid dropdown-divider" style="border-top: 3px solid #ffffff;">
    </div>
    <div>
      <!-- <script>
          var today = new Date();
          var year = today.getFullYear();
          var mes = today.getMonth() + 1;
          var dia = today.getDate();
          var date = dia + "-" + mes + "-" + year;
          document.write('Attendance Date  ::  ', date)
      </script> -->
      

<div class="text-center">
      <a class="btn btn-success btn-lg" href="/student/gettodayStudent" role="button">Take Today's Student Attendance</a>
    </div>
  </div>
  </div>

  <%- include('partials/footer') %>